<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gourmet Gabmle</title>
    <link type="text/css" th:href = "@{/css/indexStyle.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/pictures/icon.png}" type="image/x-icon">
</head>
<body>
<img id="animatedImage" th:src="@{/pictures/logo.svg}" alt="cat" srcset="">
<button type="submit"><a href="/main">Start!</a></button>

</body>
</html>