<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fill Recipe's requirements</title>
    <link type="text/css" th:href = "@{/css/fillStyle.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/pictures/icon.png}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e89c536697.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div id="redirect-button">
        <a href="/user/login"><button class="menuButton" id="hoverButton"><i id="profile" class="fa-solid fa-user"></i></button></a>
        <div id="extraButtons">
            <a href="/user/scores"><button class="menuButton" id="button1"><i class="fa-solid fa-star"></i></button></a>
            <a href="/logout"><button class="menuButton" id="button2"><i class="fa-solid fa-right-from-bracket"></i></button></a>
        </div>
    </div>
    <div class="container">
        <p>Selected Products you would like to see:</p>
        <input type="text" id="productName" onkeyup="showSuggestions1()">
        <button onclick="addSelectedProduct(1)">Add</button>
        <div class="list">
            <div class = "suggestionList" id="suggestionList1"></div>
            <div id="selectedProducts">
                <ul id="selectedProductList"></ul>
            </div>
        </div>

        <p>Selected Products you wouldn't like to see:</p>
        <input type="text" id="NotPrefProductName" onkeyup="showSuggestions2()">
        <button onclick="addSelectedProduct(0)">Add</button>
        <div class="list">
            <div class = "suggestionList" id="suggestionList2"></div>
            <div id="selectedNotPrefedProducts">
                <ul id="selectedNotPrefedProductList"></ul>
            </div>
        </div>
        <br>
        <div class="foodCategory">
            <form id="productForm" action="/submitSelectedProducts" method="post">
                <label for="foodCategory">Select a Food Category:</label>
                <select id="foodCategory" name="foodCategory">
                    <option value="None">None</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Chicken">Chicken</option>
                    <option value="Beef">Beef</option>
                    <option value="Vegetarian">Vegetarian</option>
                    <option value="Starter">Starter</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                    <option value="Side">Side</option>
                    <option value="Seafood">Seafood</option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Pork">Pork</option>
                    <option value="Pasta">Pasta</option>
                    <option value="Lamb">Lamb</option>
                    <option value="Goat">Goat</option>
                    <option value="Vegan">Vegan</option>
                </select>
                <label for="foodCategory"></label>
                <br>
                <input type="hidden" id="selectedProductsInput" name="selectedProducts">
                <input type="hidden" id="selectedNotPrefProductsInput" name="notPrefSelectedProducts">
                <button type="submit">Submit Selected Products</button>
            </form>
        </div>
    </div>
</body>

<script th:inline="javascript">
        var productList = /*[[${productList}]]*/ [];
        var isAuthorized = /*[[${isAuthorized}]]*/ false;
</script>

<script>
function showSuggestions1() {
    var input = document.getElementById("productName");
    var filter = input.value.toLowerCase();
    var suggestionList = document.getElementById("suggestionList1");
    suggestionList.innerHTML = "";

    if (filter.trim() === "") {
        suggestionList.style.display = "none";
        return;
    }
    // Keep track of the number of displayed suggestions
    var suggestionCount = 0;

    for (var i = 0; i < productList.length; i++) {
        if (suggestionCount >= 10) {
            break; // Break out of the loop if 10 suggestions have been displayed
        }

        var product = productList[i].name.toLowerCase();
        if (product.startsWith(filter)) {
            var suggestionItem = document.createElement("div");
            suggestionItem.textContent = productList[i].name;
            suggestionItem.classList.add("suggestion"); // Add a class for styling
            suggestionItem.addEventListener("click", function () {
                // Set the input field's value to the clicked suggestion
                input.value = this.textContent;
                // Clear the suggestion list
                suggestionList.innerHTML = "";
            });
            suggestionList.appendChild(suggestionItem);

            suggestionCount++; // Increment the count of displayed suggestions
        }
    }

    if (suggestionCount === 0) {
        suggestionList.style.display = "none";
    } else {
        suggestionList.style.display = "block"; // or "inline-block" as needed
    }
}



function showSuggestions2() {
    var input = document.getElementById("NotPrefProductName");
    var filter = input.value.toLowerCase();
    var suggestionList = document.getElementById("suggestionList2");
    suggestionList.innerHTML = "";
    var suggestionCount = 0;


    if (filter.trim() === "") {
        suggestionList.style.display = "none";
        return;
    }

    for (var i = 0; i < productList.length; i++) {
         if (suggestionCount >= 10) {
            break; // Break out of the loop if 10 suggestions have been displayed
        }
        var product = productList[i].name.toLowerCase();
        if (product.startsWith(filter)) {
            var suggestionItem = document.createElement("div");
            suggestionItem.textContent = productList[i].name;
            suggestionItem.classList.add("suggestion"); // Add a class for styling
            suggestionItem.addEventListener("click", function () {
                // Set the input field's value to the clicked suggestion
                input.value = this.textContent;
                // Clear the suggestion list
                suggestionList.innerHTML = "";
            });
            suggestionList.appendChild(suggestionItem);
            suggestionCount++;
        }
    }

    if (suggestionCount === 0) {
        suggestionList.style.display = "none";
    } else {
        suggestionList.style.display = "block"; // or "inline-block" as needed
    }
}

        var selectedProducts = [];
var selectedNotPrefProducts = [];

function addSelectedProduct(isPreferred) {
    var inputId = isPreferred ? "productName" : "NotPrefProductName";
    var productList = isPreferred ? selectedProducts : selectedNotPrefProducts;

    var input = document.getElementById(inputId);
    var selectedProductName = input.value.trim();

    if (selectedProductName.length > 0) {
        productList.push(selectedProductName);
        updateSelectedProductsList(isPreferred);
        input.value = ""; // Clear the input field
    }
}

function updateSelectedProductsList(isPreferred) {
    var productListId = isPreferred ? "selectedProductList" : "selectedNotPrefedProductList";
    var productList = isPreferred ? selectedProducts : selectedNotPrefProducts;

    var productListElement = document.getElementById(productListId);
    productListElement.innerHTML = "";

    for (var i = 0; i < productList.length; i++) {
        var product = productList[i];
        var listItem = document.createElement("li");
        listItem.classList.add("selected-product");
        listItem.textContent = product;

        var deleteButton = document.createElement("button");
        deleteButton.textContent = "Delete";
        deleteButton.addEventListener("click", function () {
            // Remove the selected product from the array and update the list
            var index = productList.indexOf(product);
            if (index !== -1) {
                productList.splice(index, 1);
                updateSelectedProductsList(isPreferred);
            }
        });

        listItem.appendChild(deleteButton);
        productListElement.appendChild(listItem);
    }
}


if (isAuthorized) {
    $(document).ready(function () {
      document.getElementById("profile").className = "fa-solid fa-arrow-down";
      // Hide the extra buttons initially
      $("#extraButtons").hide();

      // When you hover over the hoverButton, slide down the extraButtons
      $("#hoverButton").hover(
        function () {
          document.getElementById("profile").className = "fa-solid fa-arrow-up";
          $("#extraButtons").slideDown();
        }
      );

      // Handle mouseleave event for the container #extraButtons to slide them up
      $("#extraButtons").mouseleave(function () {
        document.getElementById("profile").className = "fa-solid fa-arrow-down";
        $("#extraButtons").slideUp();
      });
    });
  } else {
    document.getElementById("profile").className = "fa-solid fa-right-to-bracket";
    $(document).ready(function () {
      // Hide the extra buttons initially
      $("#extraButtons").hide();
    });
  }

    // Update the hidden input field with the selectedProducts array
    function updateHiddenInput() {
        var selectedProductsInput = document.getElementById("selectedProductsInput");
        var selectedNotPrefProductsInput = document.getElementById("selectedNotPrefProductsInput");
        selectedProductsInput.value = JSON.stringify(selectedProducts);
        selectedNotPrefProductsInput.value = JSON.stringify(selectedNotPrefProducts);
        console.log(selectedNotPrefProductsInput);
    }

    // Call updateHiddenInput() whenever the selectedProducts array changes
    setInterval(updateHiddenInput, 100);


</script>


</html>