<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Random Recipes</title>
</head>
<body>
<h1>Random Recipes</h1>
<ul th:each="recipe, i : ${recipes}">
    <li>
        <p>Name: <span th:text="${recipe.name}"></span></p>
        <p>Image: <img th:src="${recipe.pictureLink}" alt="Recipe Image"></p>
        <p>Category: <span th:text="${recipe.category}"></span></p>
        <p>Rating: <span th:text="${recipe.getScore()}"></span></p>
        <p>Instruction: <span th:text="${recipe.instruction}"></span></p>
        <p>Ingredients:</p>
        <ul>
            <li th:each="ingredient : ${ingredients[i.index]}">
                <span th:text="${ingredient.getName()}"></span>
            </li>
        </ul>
        <form action="/random" method="post">
            <input type="hidden" name="receiptId" th:value="${recipe.id}">
            <label for="rating">Rating (0-5):</label>
            <input type="number" id="rating" name="rating" step="1" min="0" max="5" required><br>
            <button type="submit">Update Rating</button>
        </form>
    </li>
</ul>
</body>
</html>
