<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Random Recipes</title>
    <link type="text/css" th:href = "@{/css/productPage.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e89c536697.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<h1>Random Recipes</h1>
<ul th:each="recipe, i : ${recipes}" class="container">
    <li class="recipe-item" >
        <p><span id="recipeName" th:text="${recipe.name}"></span></p>
        <p><img th:src="${recipe.pictureLink}" alt="Recipe Image"></p>
        <p class="rating-container" id="recipeRating"><span th:text="${recipe.getScore()}"></span></p>
        <p class="category">Category: <span th:text="${recipe.category}"></span></p>
        <button id="toggleInstructionButton">Toggle Instruction</button>
        <p>Instruction: <span th:text="${recipe.instruction}"></span></p>
        <p>Ingredients:</p>
        <ul>
            <li th:each="ingredient : ${ingredients[i.index]}">
                <span th:text="${ingredient.getName()}"></span>
            </li>
        </ul>
        <form action="/random" method="post">
            <input type="hidden" name="receiptId" th:value="${recipe.id}">
            <label for="rating">Rate recipe:</label>
            <div class="star-rating" id="rating" name="rating">
                <i class="far fa-star" data-rating="1"></i>
                <i class="far fa-star" data-rating="2"></i>
                <i class="far fa-star" data-rating="3"></i>
                <i class="far fa-star" data-rating="4"></i>
                <i class="far fa-star" data-rating="5"></i>
            </div>
            <button type="submit">Update Rating</button>
        </form>
        <div class="arrows">
            <button id="prevRecipe">⬅</button>
            <button id="nextRecipe">➡</button>
        </div>
    </li>
</ul>
</body>
</html>
